<%- include("partials/header.ejs") %>
    <div class="container">
        <h1>Welcome to MapMyWeather</h1>
        <p>
            Discover the weather anywhere in the world!<br>
            Enter a location to get real-time weather updates and see it on the map.
        </p>
    </div>
</body>
</html>